* {
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 170;
    color: whitesmoke;
    background-color: black;
}
#logo {
    width: -10px;
    padding: 5px;
    text-align: center;
    margin-bottom: -300px;
    margin: -200px;
    left: center;
    right: center;
    position: relative;
    top: 0;
    margin-top: 100px;
}
.relative .absolute .form-group {
    padding-bottom: 10px;
    padding-top: 10px;
}
.relative .absolute .form-group h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.relative .absolute .form-group input {
    padding: 10px;
    width: 100%;
    color:aqua;
}
.relative .absolute .form-group label{
    display:blocks;
}
.box{
    width: 55%;
    margin: auto;
    margin-top: -5em;
}
.relative {
    position: relative;
    background-color: black;
    border: 3px solid white;
    text-align: center;
    height: 300px;
    padding: 50px;
    border-radius: 5px;
}
.relative .absolute {
    position: absolute;
    bottom: 0;
}
.relative .absolute h4 {
    margin: 0;
}
.relative .absolute .button {
    background: orangered;
    color: #eee;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    bottom: 10px;
    right: center;
    left: center;
    margin: 10px;
    margin-left: center;
    margin-right: center;
    border: none;
}

.relative .absolute .nome {
    background: white;
    color: #eee;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
    right: center;
    left: center;
    margin: 10px;
    border: none;
}
.relative .absolute .senha {
    background: white;
    color: #eee;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
    right: center;
    left: center;
    margin: 10px;
    border: none;
    
}
.main-footer ul a:hover {
    color: white;
}
.main-footer ul a:visited {
    color: orangered;
}
.main-footer ul {
    list-style: none;
    text-align: center;
}
.main-footer a {
    text-decoration:dashed;
    color: orangered;
}

div.topBar {
    width: 1510px;
    height: 120px;
    border-radius: 0%; 
    background-color: white;
    margin: 0px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}